# OAuth token from https://oauth.yandex.ru/
YANDEX_TRACKER_TOKEN=your_oauth_token_here

# For Yandex 360 organizations
YANDEX_TRACKER_ORG_ID=your_org_id_here

# For Yandex Cloud organizations (use one of the two above)
YANDEX_TRACKER_CLOUD_ORG_ID=your_cloud_org_id_here
